.home {
    min-height: 100vh;

    background: 
        radial-gradient(
            circle at top, rgba(255,92,168,0.15), transparent 40%
        ),
        linear-gradient(
            135deg, #0f1021, #1f214f
        );
}

.hero {
    padding: 80px 20px;
    text-align: center;
    color: white;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.hero::before {
   content: "";
    position: absolute;
    inset: 0;
    background: url("https://image.tmdb.org/t/p/original/8Y43POKjjKDGI9MH89NW0NAzzp8.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.15;
    filter: blur(2px);
}

.hero > * {
    position: relative;
    z-index: 2;
}

.hero h1 {
    margin-bottom: 20px;
}

.hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.hero-icon {
    font-size: 4rem;
}

.hero-text {
    font-size: 4rem;
    font-weight: 700;

    background: linear-gradient(
        90deg,
        #ff5ca8,
        #ff89c5
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    font-size: 1.4rem;
    max-width: 800px;
    line-height: 1.8;
    color: #ddd;
    margin: 20px auto;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

.hero-buttons button {
    padding: 15px 35px;
    border: none;
    border-radius: 12px;
    background: #ff5ca8;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.hero-buttons button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(255,92,168,0.3);
}

.featured {
    max-width: 1400px;
    margin: -70px auto 0;
    padding: 0 40px 80px;
    position: relative;
    z-index: 2;
}

.featured h2 {
    color: white;
    margin-bottom: 20px;
}

.featured-grid {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.featured-grid::-webkit-scrollbar {
    height: 8px;
}

.featured-grid::-webkit-scrollbar-thumb {
    background: #ff5ea8;
    border-radius: 10px;
}

.featured-link {
    text-decoration: none;
    color: inherit;
}

.featured-card {
    width: 220px;
    background: #1e1b3a;
    border-radius: 16px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.featured-card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
}

.featured-card img {
    width: 220px;;
    height: 330px;
    object-fit: cover;
    border-radius: 12px;
}

.featured-card h3 {
    color: white;
    padding: 12px;
    text-align: center;
}