.movies-page {
    padding: 30px;
}

.movies-title {
    margin-bottom: 25px;
    font-size: 36px;
}

.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.search-container input {
    flex: 1;
    padding: 14px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
}

.search-container button {
    border: none;
    border-radius: 12px;
    padding: 14px 20px;
    cursor: pointer;
    background: #ff70b8;
    color: white;
}

.movie-grid {
    display: grid;
    grid-template-columns:
      repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.movie-card {
    background: #1c1c30;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
}

.movie-card:hover {
    transform: translateY(-8px);
}

.movie-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.movie-info {
    padding: 15px;
}

.movie-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.rating {
    color: gold;
    margin-top: 8px;
}

.loading {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.empty-search {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 60px;
    font-weight: 600;
}