.notfound-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(135deg, #0f1021, #1f214f);
    
    color: white;
    text-align: center;
    padding: 20px;
}

.notfound-code {
    font-size: 120px;
    color: #ff5ca8;
    margin: 0;
}

.notfound-title {
    font-size: 30px;
    margin: 10px 0;
}

.notfound-text {
    color: #ccc;
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 500px;
}

.home-btn {
    background: #ff5ca8;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 12px;
    font-weight: 600;
    transition: .3s;
}

.home-btn:hover {
    transform: translateY(-3px);
    background: #ff4697;
    box-shadow: 0 10px 20px rgba(255,92,168,.35);
}